{% extends 'base.html' %}
{% load static %}

{% block content %}
	<h1>Network List</h1>
<br/>

{% if networks %}
	{% for network in networks %}

		<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ network.networkname }}</h5>
        <p class="card-text"><a href="{% url 'networkhighlight' network.id %}">@{{ network.networkname|lower }}</a></p>
        <p class="card-text"><small>{{ network.desc }}</small></p>
        <p class="card-text"><small class="text-muted">Created on: {{ network.created_on }}</small></p>

      </div>
    </div>
  </div>
</div>
<br/>



	{% endfor %}

{% endif %}


{% endblock %}