{% extends 'base.html' %}
{% block content %}

<h1>Your Notifications</h1>

{% if profile %}


<div class="container text-center">
	<div class="row">
		<div class="col-16">


		{% if invited_list %}
		<div class="container text-center">
			<div class="row">
				<div class="col-8">
					<p>{{ profile.user.username }}, you've been invited to join these networks</p>
					<br/>
			<form method=POST>
				{% csrf_token %}
				{% for inv in invited_list %}
				<div class="card">
					<div class="card-body">
				<h4>{{ inv }}</h4>
					<button class="btn btn-outline-danger" name="{{ inv }}" value="accept" type="submit">
						Accept
					</button>
					<button class="btn btn-outline-danger" name="{{ inv }}" value="decline" type="submit">
						Decline
					</button>
					</div></div>
				
				
				</form>
			{% endfor %}
			  
		{% endif %}


			</div>
{% else %}
You don't have any notifications right now!
{% endif %}

</div></div></div>	
{% endblock %}



