{% extends 'base.html' %}
{% block content %}

<h1>Your Notifications</h1>

{% if profile %}

		{% if invited_list %}
		<div class="container text-center">
			<div class="row">
				<div class="col-8">
					<h1>{{ profile.user.username }}, you've been invited to join these networks</h1>
					<br/>
			<form method=POST>
				{% csrf_token %}
				{% for inv in invited_list %}
					<button class="btn btn-outline-danger" name="{{ inv }}" value="accept" type="submit">
						Accept
					</button>
					<button class="btn btn-outline-danger" name="{{ inv }}" value="decline" type="submit">
						Decline
					</button>
				
				
				</form>
			{% endfor %}
			  
		{% endif %}


			</div>

{% endif %}
{% endblock %}



